NODE_ENV=development


DB_DATABASE_DIALECT=mysql
DB_DATABASE_HOST=127.0.0.1
DB_DATABASE_USER=
DB_DATABASE_NAME=
DB_DATABASE_PASSWORD=

LOG_FILE_PATH=logs/api.log

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=


JWT_SECRET_KEY=
